.App{
  position: relative;
}
body  {
  font-family: 'Roboto', sans-serif;
}
.body-container{
  margin: 50px
}
.row{
  width: 100%
}
.column-half{
  width: 50%;
  display: inline-block;
  vertical-align: top
}
div{
  margin: 0;
}
.post{
  margin: 50px 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.post:hover, .post:focus, .post:active {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}
h1,h2, p, a{
  margin: 0;
  padding: 0
}
.aframe{
  height: 300px;
}
.center{
  margin: 0 auto
}
.name-input{
  width: 100%
}
.NavBar {
  position: absolute;
  z-index: 2;
  background-color: black;
  color: white;
  padding: 20px
}
.App-Body{
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%
}
.NavBar .fa{
  display: none
}
.NavBar ul{
  list-style-type: none;
  margin: 0
}
.NavList{
  display: inline-block
}
.NavBar li{
  display: inline;
  margin: 0
}
.NavBar li:hover{
  font-size: 1.25em
}
/* if on mobile */
@media (max-width: 600px){
  .NavBar{

  }
 
  .NavBar .fa{
    vertical-align: top;
    display: inline-block
  }
  .NavBar ul{
    vertical-align: top;
    display: none
  }
  .NavBar li{
    margin: 5px;
    text-align: center;
    display: block
  }
}
@media (min-width: 601px){
  .NavBar ul{
    display: block
  }
}

