
body  {
  font-family: 'Roboto', sans-serif;
}
.row{
  width: 100%
}
.column-half{
  width: 50%;
  display: inline-block;
  vertical-align: top
}
div{
  margin: 0;
}
.post{
  margin: 50px 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.post:hover, .post:focus, .post:active {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}
h1,h2, p, a{
  margin: 0;
  padding: 0
}

.center{
  margin: 0 auto
}
.name-input{
  width: 100%
}