/* General App CSS */
.App{
  position: relative;
  margin: 0;
  padding: 0;
}
.App-Body{
  position: absolute;
  background: rgb(51, 190, 255);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #C4E0E5, rgb(51, 190, 255));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #C4E0E5, rgb(51, 190, 255)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  z-index: 1;
  top: 0;
  width: 100%
}
body  {
  font-family: 'Open Sans', sans-serif;
}
i{
  width: 15px;
  height: 15px;
  margin: 0 auto
}
.body-drop{
  margin-top: 100px
}
.body-container{
  margin: 50px
}
.row{
  width: 100%
}
.column-half{
  width: 50%;
  display: inline-block;
  vertical-align: top
}
.title{
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 50px;
  color: rgb(51, 190, 255);
  -webkit-text-stroke: 1px rgb(252, 70, 14);
  text-shadow: 2px  0 0 rgb(252, 70, 14);
}
.title-wrapper{
  margin-bottom: 50px 
}
.inline-block{
  display: inline-block
}
.float-right{
  float: right
}
.zero-margin{
  margin: 0
}
.full-width{
  width: 100%
}
div{
  margin: 0;
}
h1,h2, p, a{
  color: black;
  margin: 0;
  padding: 0
}
p{
  font-weight: normal
}
.post h2{
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color;
  transition-property: color;
}
.post h2:hover{
  color:blue;
}
.aframe{
  height: 300px;
}
.center{
  margin: 0 auto
}
.text-center{
  text-align: center
}
.name-input{
  width: 100%
}
/* End General App CSS */
/* ----------------------- 2D Post CSS ----------------------------*/
.post{
  background-color: white;
  border-radius: 10px;
  margin: 30px 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.post:hover, .post:focus, .post:active {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}
.post-title{
  margin-bottom: 10px;
}
.post-button-container{
  display: inline-block;
}
.post-user-buttons{
  text-align: center;
  margin: 10px 0
}

.post-link{
  text-decoration: none;
  color: white;
}
.post-link-container{
  display: inline-block;
  background-color: blue;
  margin: 1px 2px;
  padding: 5px;
  border-radius: 5px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform background-color;
  transition-property: transform background-color;
}
.post-link-container:hover, .post-link-container:focus, .post-link-container:active{
  background-color: rgb(58, 58, 255);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}
.post-control-button{
  color: white;
  background-color: blue;
  border: 1px solid transparent;
  padding: 5px;
  border-radius: 50%;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}
.post-control-button:hover{
  color: blue;
  background: transparent;
  border: 1px solid blue
}
/* these are the inputs on the  upload page*/
.post-button-inputs{
  margin: 5px 0 5px 0
}
/* ------------------------------End 2d Post CSS -------------------------------*/

/* -------------------- Begin Navbar CSS --------------------- */
.NavBar {
  margin: 0;
  position: absolute;
  z-index: 2;
  color: white;
  padding: 20px
}

.NavBar .fa{
  display: none
}
.NavBar ul{
  -webkit-padding-start: 0;
  list-style-type: none;
  margin: 10 auto 0 auto;
}
.NavList{
  display: inline-block
}
.NavBar li{
  display: inline;
  margin: 0
}
.NavBar li:hover{
  font-size: 1.25em;
  transition: font-size 0.3s ease
}
/* -------------------------End Navbar CSS ------------------------ */
/* -----------------------------Begin Upload CSS -----------------------------*/

.upload-button{
  border: 1px solid transparent;
  padding: 10px;
  margin: 10px 0;
  background-color: blue;
  color: white;
  border-radius: 5px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: background-color transform;
  transition-property: background-color transform;
}
.upload-button:hover{
  cursor: pointer;
  color: blue;
  border: 1px solid blue;
  background-color: white;
  transform: translateY((-3px));
  -webkit-transform: translateY(-3px);
  box-shadow: 0 3px 3px 1px rgba(0,0,0,0.2)
}

/* ------------------------------End Upload CSS ------------------------- */
/* if on mobile */
@media (max-width: 600px){
  .NavBar .fa{
    vertical-align: top;
    display: inline-block
  }
  .NavBar ul{
    vertical-align: top;
    display: none
  }
  .NavBar li{
    margin: 5px;
    text-align: center;
    display: block
  }
}
@media (min-width: 601px){
  .NavBar ul{
    display: block
  }
}

